@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i");

body {
  font-family: "Roboto", sans-serif;
}

#kc-form {
  width: 50%;
  height: auto;
  padding: 2rem;
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2),
    0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
}

#kc-form-login #kc-form-options {
  margin-top: 15px;
}

#kc-login {
  float: right;
}

#kc-error-message p {
  margin: 0;
}

.template {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.template .language-picker {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 195px;
}

.template .language-picker .language-icon {
  float: left;
  color: rgba(0, 0, 0, 0.54);
}

.template .language-picker .mdc-select {
  float: right;
  margin-top: -25px;
}

.template .language-picker .mdc-select option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  z-index: -1;
}

.card-title {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.responsive-img {
  width: 72px;
  height: 72px;
}

.borderR {
  border-radius: 15px;
}

.wrapperC {
  display: flex;
  justify-content: center;
  align-items: center;
}
